/* styles.scss */
$primary-color: #08415c;
$secondary-color: #8ea8c3;
$background-color: rgba(15, 23, 42, 0.66);
$text-color: rgb(148 163 184);
$link-color: #08415c;
$button-background: #08415c;
$button-text: #ffffff;
$border-color: #cccccc;
